.scroll {
  height: calc(100% - 30px);
  padding: 5px;
  position: absolute;
  right: 0;
  top: 30px;
}

.scroll .scroll-holder {
  height: calc(100%);
  margin-bottom: 5px;
  position: relative;
  height: 12px;
}

.scroll .scroll-holder .imageSlider {
  width: 100%;
  height: 12px;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-appearance: none;
}

.scroll .scroll-holder .imageSlider:focus {
  outline: none;
}

.scroll .scroll-holder .imageSlider::-moz-focus-outer {
  border: none;
}

.scroll .scroll-holder .imageSlider::-webkit-slider-runnable-track {
  background-color: #ddd;
  border: none;
  cursor: pointer;
  width: 100%;
  z-index: 6;
}

.scroll .scroll-holder .imageSlider::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  background-color: #999;
  border: none;
  cursor: pointer;
  width: 10px;
  /* Width of the thumb */
  height: 20px;
  /* Height of the thumb */
  margin-top: -3px;
  /* Adjust vertical alignment */
  margin-left: -10px;
  /* Adjust horizontal alignment */
}

.scroll .scroll-holder .imageSlider::-webkit-slider-thumb:active {
  background-color: #666;
}

.scroll .scroll-holder .imageSlider::-moz-range-thumb {
  background-color: #999;
  border: none;
  cursor: pointer;
  width: 10px;
  /* Width of the thumb */
  height: 20px;
  /* Height of the thumb */
  z-index: 7;
}

.scroll .scroll-holder .imageSlider::-moz-range-thumb:active {
  background-color: #666;
}

.scroll .scroll-holder .imageSlider::-ms-thumb {
  background-color: #999;
  border: none;
  cursor: pointer;
  width: 10px;
  /* Width of the thumb */
  height: 20px;
  /* Height of the thumb */
}

.scroll .scroll-holder .imageSlider::-ms-thumb:active {
  background-color: #666;
}

.scroll .scroll-holder .imageSlider::-ms-tooltip {
  display: none;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .imageSlider {
    top: 50px;
  }
}
