.viewport-image-scrollbar-wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.viewport-image-scrollbar-wrapper .scroll {
  position: relative !important;
  left: auto !important;
  width: 100% !important;
}

/* Fix the thumb alignment */
.viewport-image-scrollbar-wrapper .imageSlider {
  width: calc(100% - 20px) !important;
  margin: 0 10px !important;
}

/* Style the track */
.viewport-image-scrollbar-wrapper .imageSlider::-webkit-slider-runnable-track {
  width: 100%;
  cursor: pointer;
  background-color: #ffffff !important;
  height: 8px;
  border-radius: 4px;
  opacity: 1;
  border: 1px solid #e0e0e0;
}

/* Style the thumb for webkit browsers */
.viewport-image-scrollbar-wrapper .imageSlider::-webkit-slider-thumb {
  margin-top: -7px !important;
  margin-left: 0 !important;
  width: 40px !important;
  height: 20px !important;
  --tw-text-opacity: 1;
  background-color: #c8f469 !important;
  border: none !important;
  border-radius: 6px !important;
}

/* Style the thumb for Firefox */
.viewport-image-scrollbar-wrapper .imageSlider::-moz-range-thumb {
  margin-top: 0 !important;
  margin-left: 0 !important;
  width: 40px !important;
  height: 24px !important;
  background-color: #c8f469 !important;
  border: none !important;
  border-radius: 6px !important;
}

/* Style the track for Firefox */
.viewport-image-scrollbar-wrapper .imageSlider::-moz-range-track {
  background-color: #ffffff !important;
  height: 1px;
  border-radius: 1px;
  opacity: 1;
  border: 1px solid #e0e0e0;
}
