# ohif defaults
PUBLIC_URL=/
APP_CONFIG=config/local_pacs_ai.js
USE_HASH_ROUTER=false

# added custom
APP_PUBLIC_API_URL=
APP_PUBLIC_DEFAULT_TENANT=
APP_FIREBASE_API_KEY=
APP_FIREBASE_AUTH_DOMAIN=
APP_FIREBASE_PROJECT_ID=
APP_FIREBASE_STORAGE_BUCKET=
APP_FIREBASE_MESSAGING_SENDER_ID=
APP_FIREBASE_APP_ID=
APP_FIREBASE_MEASUREMENT_ID=
